.skills{
    background-color: black;
    height: 100vh;  
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
}

.skills > h1{
    color: white;
    font-family: Arial;
    font-size: 100px;;
    margin: 0px;
    margin-top:100px ;
  }

.tabs{
    display: flex;
    /* border: solid burlywood 1px; */
    margin-top: 50px;
    height: 500px;
}

.tab-holder{
    flex: 1;
    display: grid;
}

.tab-holder > h2{
    font-size: 50px;
    font-family: Arial;
    padding-top: 20px;
    cursor: pointer;
    text-align: left;
    padding-left: 500px;
    transition-duration: 0.3s;
    transition-property: transform;
}
.inactive{
    color: #595959;
}
.inactive:hover{
    color: white;
}
.active{
    transform: scale(1.10);
    color: coral;
}

#coding{
    margin-bottom: 10px;
}
#database{
    margin-bottom: 10px;
    margin-top: 10px;
}
#tools{
    margin-top: 10px;
}

.tab-content{
    flex: 1;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.icons{
    font-size: 50px;
}

.logo{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    padding:15px;
    margin: 20px;
    border: solid white;
    background-color: white;
}

.active-img{
    display: block;
    padding-left: 150px;
    max-width: 600px;
}
.inactive-img{
    display: none;
}

.slider-container{
    /* background: #fff; */
    width: 5px;
    padding:40px 0;
}
.slider{
    background: coral;
    width: 5px;
    height: 33%;
    transition-duration: 0.3s;
}

.slider-1{
    transform: translateY(100%);
}

.slider-0{
    transform: translateY(0);
}

.slider-2{
    transform: translateY(200%);
}