.contact{
    /* background-color: #040037; */
    background-color: black;
    height: 100vh;
    text-align: center;
}

.contact > h1 {
    color: white;
    font-size: 100px;
    font-family: Arial;
    margin-top:200px ;
}
.icon-holder{
    display: flex;
    justify-content: center;
}

.icon-holder > div > svg{
    color:#595959;
    font-size: 70px;
    margin: 30px;
    transition-duration: 0.3s;
    transition-property: transform;
    cursor: pointer;
}

.icon-holder > div > svg:hover{
    color:white;
    transform: scale(1.30);
}
