html, body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    scroll-behavior: smooth;
}

#lighttheme{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 999999;
    cursor : url("../../chintu/src/asset/lighttheme.png") 36 36, auto;
}

